#map{
    padding: 10px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#latit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#longi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}